Source: bunsen-pepperflash
Section: contrib/web
Priority: extra
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-pepperflash
Vcs-Git: https://github.com/BunsenLabs/bunsen-pepperflash.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-pepperflash.git

Package: bunsen-pepperflash
Architecture: i386
Depends: ${misc:Depends}, wget, curl, binutils
Pre-Depends: ca-certificates
Recommends: systemd, bunsen-utilities
Suggests: chromium, browser-plugin-freshplayer-pepperflash
Conflicts: pepperflashplugin-nonfree
Replaces: pepperflashplugin-nonfree
Description: Pepper Flash Player - browser plugin
 This package will download and unpack the PPAPI flash plugin from Adobe,
 and add configuration files for chromium and 
 browser-plugin-freshplayer-pepperflash.
 The end user license agreement is available at Adobe.
 This package itself does not contain any software from Adobe.
 .
 NOTE: no checksum verification of the downloaded file is performed.
 
